@@include('modules/header_pages.html', {"title": "About", "class": ""})
 <div style="position: relative;background-size: cover; background-image: url(./assets/images/about_bkg.png); min-height: 400px; background-repeat: no-repeat; background-position: center top;">
    <div class="container">
        <div class="content_about">
            <h3 class="font_nova_bold about_seven">About Seven Oaks</h3>
        </div>
    </div>
</div>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h3 class="font_nova_bold title_up our_miss">OUR MISSION</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>

				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>

				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>

				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>	
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<!-- Contenedor -->
				<ul id="accordion" class="accordion">
					<li>
						<div class="link">MISSION & VISION<i class="fa fa-chevron-left"></i></div>
						<ul class="submenu">
							<li><a href="#">Photoshop</a></li>
							<li><a href="#">HTML</a></li>
							<li><a href="#">CSS</a></li>
							<li><a href="#">Maquetacion web</a></li>
						</ul>
					</li>
					<li class="default">
						<div class="link"></i>MEMBERSHIP</div>
					</li>
					<li>
						<div class="link"></i>OUR HISTORY</div>
					</li>
					<li><div class="link"></i>OUR STAFF </div>
					</li>
					<li><div class="link"></i>JOB OPPORTUNITIES</div>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

@@include('modules/footer.html')