@@include('modules/header_pages.html', {"title": "Events", "class": ""})
<div style="position: relative;background-size: cover; background-image: url('./assets/images/about_bkg.png'); height: 400px;">
    <div class="container">
        <div class="content_about">
            <h3 class="font_nova_bold about_seven" style="text-align: left;">Events</h3>
        </div>
    </div>
</div>
<div class="main">
	<div class="container">
		<div class="row row_events">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="" title=""><img src="./assets/images/events_1.png" alt="" class="img-responsive"></a>
				<div class="content_detail">
				 	<h3>FAMILY SUNDAY</h3>
				 	<p>30th <br> JULY</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="" title=""><img src="./assets/images/events_2.png" alt="" class="img-responsive"></a>
				<div class="content_detail">
				 	<h3>FAMILY SUNDAY</h3>
				 	<p>30th <br> JULY</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="" title=""><img src="./assets/images/events_3.png" alt="" class="img-responsive"></a>
				<div class="content_detail">
				 	<h3>FAMILY SUNDAY</h3>
				 	<p>30th <br> JULY</p>
				</div>
			</div>
		</div>
		<div class="row row_events">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="" title=""><img src="./assets/images/events_1.png" alt="" class="img-responsive"></a>
				<div class="content_detail">
				 	<h3>FAMILY SUNDAY</h3>
				 	<p>30th <br> JULY</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="" title=""><img src="./assets/images/events_2.png" alt="" class="img-responsive"></a>
				<div class="content_detail">
				 	<h3>FAMILY SUNDAY</h3>
				 	<p>30th <br> JULY</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="" title=""><img src="./assets/images/events_3.png" alt="" class="img-responsive"></a>
				<div class="content_detail">
				 	<h3>FAMILY SUNDAY</h3>
				 	<p>30th <br> JULY</p>
				</div>
			</div>
		</div>
	</div>
</div>

@@include('modules/footer.html')