@@include('modules/header.html', {"title": "Home", "class": ""})

<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 box_model">
				<a href="" title="" class="box"><img src="./assets/images/box1.png" alt="" class="img-responsive"></a>
				<div class="box_detail">
					<h3 class="title_box font_nova_bold">STORIES</h3>
					<a href="" title="" class="read_stories club_color_1">Read stories of Seven Oaks<span><img src="./assets/images/arrow.png" alt=""></span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 box_model">
				<a href="" title="" class="box"><img src="./assets/images/box2.png" alt="" class="img-responsive"></a>
				<div class="box_detail">
					<h3 class="title_box font_nova_bold">GIVE ONLINE</h3>
					<a href="" title="" class="read_stories club_color_2">Quick & easy online giving<span><img src="./assets/images/arrow.png" alt=""></span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 box_model">
				<a href="" title="" class="box"><img src="./assets/images/box3.png" alt="" class="img-responsive"></a>
				<div class="box_detail">
					<h3 class="title_box font_nova_bold">PRAYER</h3>
					<a href="" title="" class="read_stories club_color_3">Submit your prayer request<span><img src="./assets/images/arrow.png" alt=""></span></a>
				</div>
			</div>
		</div>
		<!-- end box -->
		<div class="row family">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h3 class="title_up">UPCOMING EVENTS</h3>
				<div class="media media_family">
					<div class="media-left">
						<p class="date">20</p>
						<span class="month">july</span>
					</div>
					<div class="media-body body_family">
					    <h4 class="media-heading family_title">FAMILY SUNDAY</h4>
					    <p>Sunday | 9:30am </p>
					</div>
					<a href="" title="" class="btn_more">more</a>
				</div>
				<div class="media media_family">
					<div class="media-left">
						<p class="date">20</p>
						<span class="month">july</span>
					</div>
					<div class="media-body body_family">
					    <h4 class="media-heading family_title">FAMILY SUNDAY</h4>
					    <p>Sunday | 9:30am </p>
					</div>
					<a href="" title="" class="btn_more">more</a>
				</div>
				<div class="media media_family">
					<div class="media-left">
						<p class="date">20</p>
						<span class="month">july</span>
					</div>
					<div class="media-body body_family">
					    <h4 class="media-heading family_title">FAMILY SUNDAY</h4>
					    <p>Sunday | 9:30am </p>
					</div>
					<a href="" title="" class="btn_more">more</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<h3 class="title_up">SEVENOAKS</h3>
				<p> Lorem Ipsum is simply dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br>

				It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<a href="" title="" class="read_family">READ MORE >></a>
			</div>
		</div>
	</div>
</div>

@@include('modules/footer.html')