@@include('modules/header_pages.html', {"title": "Events", "class": ""})
<div style="position: relative;background-size: cover; background-image: url('./assets/images/about_bkg.png'); height: 400px;">
    <div class="container">
        <div class="content_about">
            <h3 class="font_nova_bold about_seven" style="text-align: left;">Shop</h3>
        </div>
    </div>
</div>
<div class="main">
	<div class="container">
		<div class="row row_events">
			<div class="col-md-4 col-sm-6 col-xs-12 shop_lock">
				<div class="shop_box center-block">
					<a href="" title=""><img src="./assets/images/shop_1.png" alt="" class="img-responsive"></a>
				</div>
				<div class="content_detail shop">
				 	<h3><a href="">E-Book</a></h3>
				 	<p><a href="">£4.99</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 shop_lock">
				<div class="shop_box center-block">
					<a href="" title=""><img src="./assets/images/shop_2.png" alt="" class="img-responsive"></a>
				</div>
				<div class="content_detail shop">
				 	<h3><a href="">SevenOaks Mug</a></h3>
				 	<p><a href="">£1.99</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 shop_lock">
				<div class="shop_box center-block">
					<a href="" title=""><img src="./assets/images/shop_1.png" alt="" class="img-responsive"></a>
				</div>
				<div class="content_detail shop">
					<h3><a href="">SevenOaks T-Shirt</a></h3>
				 	<p><a href="">£15.99</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 shop_lock">
				<div class="shop_box center-block">
					<a href="" title=""><img src="./assets/images/shop_1.png" alt="" class="img-responsive"></a>
				</div>
				<div class="content_detail shop">
					<h3><a href="">E-Book</a></h3>
				 	<p><a href="">£4.99</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 shop_lock">
				<div class="shop_box center-block">
					<a href="" title=""><img src="./assets/images/shop_2.png" alt="" class="img-responsive"></a>
				</div>
				<div class="content_detail shop">
					<h3><a href="">SevenOaks Mug</a></h3>
				 	<p><a href="">£1.99</a></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 shop_lock">
				<div class="shop_box center-block">
					<a href="" title=""><img src="./assets/images/shop_1.png" alt="" class="img-responsive"></a>
				</div>
				<div class="content_detail shop">
				 	<h3><a href="">SevenOaks T-Shirt</a></h3>
				 	<p><a href="">£15.99</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

@@include('modules/footer.html')