		<footer id="footer">
			<div class="container fl_content">
				<div class="row row_ft">
				 	<div class="col-md-4 col-sm-6 col-xs-12">
				 		<h3 class="title_fl font_nova_bold">SIGNUP TO OUR NEWSLETTER</h3>
				 		<a href="" title="" class="email_btn">EMAIL SIGNUP</a>
				 	</div>
				 	<div class="col-md-4 col-sm-6 col-xs-12">
				 		<h3 class="title_fl font_nova_bold">SERVICE TIMES</h3>
				 		<h6 class="title_time"> Sundays at 9:30 & 11:30 AM</h6>
				 		<p class="p_lorem">Lorem ipsum dolor sit amet.</p>
				 	</div>
				 	<div class="col-md-4 col-sm-6 col-xs-12">
				 		<h3 class="title_fl font_nova_bold">CONNECT WITH US</h3>
				 		<nav id="socials">
				 			<ul>
				 				<li><a href="" title=""><i class="fa fa-facebook"></i></a></li>
				 				<li><a href="" title=""><i class="fa fa-twitter"></i></a></li>
				 				<li><a href="" title=""><i class="fa fa-youtube"></i></a></li>
				 				<li><a href="" title=""><i class="fa fa-pinterest-p"></i></a></li>
				 				<li><a href="" title=""><i class="fa fa-envelope"></i></a></li>

				 			</ul>
				 		</nav>
				 	</div>
			 	</div>
			 	<div class="row" >
			 		<div class="col-md-12 col-sm-12 col-xs-12 copy">
			 			<p class="copyright">© Copyright 2013 SevenOaks. All rights reserved.  Privacy Policy  |  Share This</p>
			 		</div>
			 	</div>
			</div> 
		</footer>

	</div>

	<script type="text/javascript" src="assets/bundles/vendor.js"></script>
	<script type="text/javascript" src="assets/bundles/script.js"></script>

</body>
</html>