#header {
	position: relative;
	.top_header {
		position: relative;
		top: 0;
		z-index: 1;
		.tent_top {
			position: absolute; 
			left: 0; 
			right: 0; 
			margin-left: auto; 
			margin-right: auto; 
			.content-top {
				margin: 0;
				padding: 0;
				background-color: $white;
				.logo {
					margin-top: 40px;
				}
				.nav-top {
					position: relative;
					background-color: #418c9c;
					height: 38px;
					margin-top: 20px;
					margin-bottom: 0;
					padding: 0;
					right: -14px;
					li {
						display: inline-block;
						a {
							color: $white;
							text-decoration: none;
							font-size: 13px;
							padding: 0 10px;
							line-height: 37px;
							text-transform: capitalize;
						}
						&:last-child {
							padding-right: 120px;
						}
						i.icon_search {
							position: absolute;
							right: 24px;
							top: 12px;
							cursor: pointer;
							color: $white;
						}
					}
					&:after {
						position: absolute;
					    content: url('../images/arrow_search.png');
					    right: 0;
					    top: 2px;
					}
				}
			/*searchbox*/
			#search {
			    position: fixed;
			    top: 0px;
			    left: 0px;
			    width: 100%;
			    height: 100%;
			    background-color: rgba(0, 0, 0, 0.7);
				transition: all 0.5s ease-in-out;
				transform: translate(0px, -100%) scale(0, 0);
			    opacity: 0;
			    input[type="search"] {
				    position: absolute;
				    top: 50%;
				    width: 100%;
				    color: rgb(255, 255, 255);
				    background: rgba(0, 0, 0, 0);
				    font-size: 60px;
				    font-weight: 300;
				    text-align: center;
				    border: 0px;
				    margin: 0px auto;
				    margin-top: -51px;
				    padding-left: 30px;
				    padding-right: 30px;
				    outline: none;
				}
				.btn {
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    margin-top: 61px;
				    margin-left: -45px;
				}
				.close {
				    position: fixed;
				    top: 15px;
				    right: 15px;
				    color: $white;
					background-color: #428bca;
					border-color: #357ebd;
					opacity: 1;
					padding: 10px 17px;
					font-size: 27px;
				}
			}
			#search.open {
				transform: translate(0px, 0px) scale(1, 1); 
			    opacity: 1;
			}

			/*searchbox*/	
			// cssmenu////
			#cssmenu {
				float: right;
				margin: 18px 60px 18px !important;
			}
			#cssmenu,
			#cssmenu ul,
			#cssmenu ul li,
			#cssmenu ul li a,
			#cssmenu #menu-button {
			  margin: 0;
			  padding: 0;
			  border: 0;
			  list-style: none;
			  line-height: 1;
			  display: block;
			  position: relative;
			  -webkit-box-sizing: border-box;
			  -moz-box-sizing: border-box;
			  box-sizing: border-box;
			}
			#cssmenu:after,
			#cssmenu > ul:after {
			  content: ".";
			  display: block;
			  clear: both;
			  visibility: hidden;
			  line-height: 0;
			  height: 0;
			}
			#cssmenu #menu-button {
			  display: none;
			}
			#cssmenu > ul > li {
			  float: left;
			}
			#cssmenu.align-center > ul {
			  font-size: 0;
			  text-align: center;
			}
			#cssmenu.align-center > ul > li {
			  display: inline-block;
			  float: none;
			}
			#cssmenu.align-center ul ul {
			  text-align: left;
			}
			#cssmenu.align-right > ul > li {
			  float: right;
			}
			#cssmenu > ul > li > a {
			  padding: 17px;
			  font-size: 15px;
			  letter-spacing: 1px;
			  text-decoration: none;
			  color: #668333;
			  font-weight: 700;
			  text-transform: uppercase;
			}
			#cssmenu > ul > li:hover > a {
			  color: #37879d;
			}
			#cssmenu > ul > li.has-sub > a {
			  padding-right: 30px;
			}
			#cssmenu > ul > li.has-sub > a:after {
			  position: absolute;
			  top: 22px;
			  right: 11px;
			  width: 8px;
			  height: 2px;
			  display: block;
			  background: #dddddd;
			  content: '';
			}
			#cssmenu > ul > li.has-sub > a:before {
			  position: absolute;
			  top: 19px;
			  right: 14px;
			  display: block;
			  width: 2px;
			  height: 8px;
			  background: #dddddd;
			  content: '';
			  transition: all .25s ease;
			}
			#cssmenu > ul > li.has-sub:hover > a:before {
			  top: 23px;
			  height: 0;
			}
			#cssmenu ul ul {
			  position: absolute;
			  left: -9999px;
			}
			#cssmenu.align-right ul ul {
			  text-align: right;
			}
			#cssmenu ul ul li {
			  height: 0;
			  transition: all .25s ease;
			}
			#cssmenu li:hover > ul {
			  left: auto;
			}
			#cssmenu.align-right li:hover > ul {
			  left: auto;
			  right: 0;
			}
			#cssmenu li:hover > ul > li {
			  height: 35px;
			}
			#cssmenu ul ul ul {
			  margin-left: 100%;
			  top: 0;
			}
			#cssmenu.align-right ul ul ul {
			  margin-left: 0;
			  margin-right: 100%;
			}
			#cssmenu ul ul li a {
			  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
			  padding: 11px 15px;
			  width: 170px;
			  font-size: 12px;
			  text-decoration: none;
			  color: #dddddd;
			  font-weight: 400;
			  background: #333333;
			}
			#cssmenu ul ul li:last-child > a,
			#cssmenu ul ul li.last-item > a {
			  border-bottom: 0;
			}
			#cssmenu ul ul li:hover > a,
			#cssmenu ul ul li a:hover {
			  color: #ffffff;
			}
			#cssmenu ul ul li.has-sub > a:after {
			  position: absolute;
			  top: 16px;
			  right: 11px;
			  width: 8px;
			  height: 2px;
			  display: block;
			  background: #dddddd;
			  content: '';
			}
			#cssmenu.align-right ul ul li.has-sub > a:after {
			  right: auto;
			  left: 11px;
			}
			#cssmenu ul ul li.has-sub > a:before {
			  position: absolute;
			  top: 13px;
			  right: 14px;
			  display: block;
			  width: 2px;
			  height: 8px;
			  background: #dddddd;
			  content: '';
			  transition: all .25s ease;
			}
			#cssmenu.align-right ul ul li.has-sub > a:before {
			  right: auto;
			  left: 14px;
			}
			#cssmenu ul ul > li.has-sub:hover > a:before {
			  top: 17px;
			  height: 0;
			}
			///// #cssmenu/////
		}
	}
 }
}

@media (max-width: 991px) {

	#header {
		#carousel-example-generic {
			.content_slider {
				height: 96px;
				h4 {
					font-size: 25px;
				}
			}
		}
		.top_header {
			.tent_top {
				position: relative;
				.content-top {
					#cssmenu {
						margin: 18px 0px 18px !important
					}
				}
			}		
		}
	} 
}

@media (max-width: 480px) {
	#header {
		#carousel-example-generic {
			span.fa-chevron-left,
			span.fa-chevron-right {
				width: 50px;
    			height: 44px;
    			padding-top: 12px;
			}
			span.fa-chevron-left {
				padding-right: -10px !important;
			}
			span.fa-chevron-right {
				padding-right: 10px
			}
			.content_slider {
				position: static;
				h4 {
					font-size: 20px;
				}
			}
		}
	}
}
@media only screen and (max-width: 991px)  {
	
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul li a { font-size: 12px !important;}
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2) !important;
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto !important;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100% !important;
    border-bottom: 0 !important;
  }
  #cssmenu > ul > li {
    float: none !important;
  }
  #cssmenu ul ul li a {
    padding-left: 25px !important;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px !important;
  }
  #cssmenu ul ul li a {
    color: #dddddd !important;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative !important;
    left: 0 !important;
    width: 100%;
    margin: 0 !important;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none !important;
  }
  #cssmenu #menu-button {
    display: block !important;
    padding: 17px !important;
    color: #418c9c;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 30px;
    border-top: 2px solid #418c9c;
    border-bottom: 2px solid #418c9c;
    content: '';
    padding: 2px;
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 30px;
    background: #418c9c;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #418c9c;
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #418c9c;
    width: 15px;
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    border-right: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px !important;
    width: 46px !important;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px !important;
    width: 34px !important;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: $white;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}