$white: #fff;
$sky_blue: #4999af;
$pink: #f1715e;
$pink_sky: #f2978a;
$green: #668333;
$gray_color: #5f5f5f;
$gray_sky: #f3eeea;
$gray_f: #525252;
$gray_cl_f: #e1ddd9;
$gray_border: #d2cdc9;
$gray_border_f: #6b6b6a; 
$gray_shadow_txt: #7c847e;